PORT=4000
CLIENT_ORIGIN=http://localhost:5173,http://localhost:5174
SUPABASE_URL=https://zcxqjpxswwpbxbgraajn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjeHFqcHhzd3dwYnhiZ3JhYWpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxODE5ODAsImV4cCI6MjA4OTc1Nzk4MH0.orZpNJRARa_a6mWBjkQN1gTkZ6T_Si6aPN7-FBKnzSY

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjeHFqcHhzd3dwYnhiZ3JhYWpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE4MTk4MCwiZXhwIjoyMDg5NzU3OTgwfQ.aU_C2XFSVrI3Ivtb_TxO_oqZvK2bLNj2snFsVpnJ_Ug
RAZORPAY_KEY_ID=rzp_test_SfSBnWK3w9BRQa
RAZORPAY_KEY_SECRET=H5thxswxHE5bKijvGntEI7BG
